.navbar {
    background-color: black;
    margin: 10px;
    
    }

.nav-link {
    color:white;
    text-decoration: none;
    margin: 10px;
}

.greeting{
    text-align: center;
}

.nav-link:hover {
    background-color: white;
    color: black;
    margin: 10px;
}